{% extends 'base/main_layout.html' %}
{% load mathfilters %}
{% block content %}
    <div id="user_component" class="shadow">
        <h3 class="text-center">Dear {{ user.username }}!</h3>
        <hr>
        <h6 class="text-center" style="font-size: 2rem">
            <a href="{% url 'task_list' %}">
                Your Task{{ tasks.count|pluralize:'s' }}
            </a>
        </h6>
        <hr>
        <h6 class="text-center">
            <a href="{% url 'create_task' %}"> Add New Task <i class="fa fa-plus" style="font-size:20px"></i></a>
        </h6>
        <hr>
        <div class="text-center">
            <form class="form-inline text-center" id="search_form">
                <input class="form-control mr-sm-2" type="search" placeholder="Search Task" aria-label="Search"
                       name="search_value">
                <button type="submit" id="search_btn" class="btn mt-1">Search
                    <li class="fa fa-search"></li>
                </button>
            </form>
        </div>
        <hr>
        <div>
            {% if tasks.count != 0 %}
                <div id="task_count">
                    <h6 class="text-center">You Have
                        <span>{{ complete_task_count }}</span> Complete and
                        <span>{{ tasks.count|sub:complete_task_count }}</span> Un-Complete Tasks</h6>
                </div>
            {% endif %}
            <table class="table table-bordered">
                <tbody>
                {% for task in tasks %}
                    <tr>
                        <td class="text-center numbering_table">{{ forloop.counter }}</td>
                        <td colspan="2" class="task_title">
                            {% if task.complete %}
                                <del>{{ task.title_task }}</del>
                            {% else %}
                                {{ task.title_task }}
                            {% endif %}
                        </td>
                        <td colspan="2" class="task_complete"><input type="checkbox" {% if task.complete %}
                                                                     checked{% endif %}></td>
                        <td class="text-center">
                            <a href="{% url 'task-update' task.id %}" class="delete_task">Edit
                                <li class="fa fa-edit"></li>
                            </a>
                            <a href="{% url 'task-delete' task.id %}" class="update_task">Delete
                                <li class="fa fa-trash"></li>
                            </a>
                        </td>
                    </tr>
                {% empty %}
                    <h5 class="text-center">You Dont Have Any Task</h5>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}